@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Rethink Sans", sans-serif;
}

button {
  @apply cursor-pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #ff2e88;
  --color-primary-dull: #ff4da6;
  --color-secondary: #ff7a18;
  --color-secondary-dull: #ff9f1c;
}
